html{
  font-size: 20px; /* ルート要素のフォントサイズ */
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center; /* テキストを中央寄せ */
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem; /* ルート要素の2倍 */
  letter-spacing: 1.2em; /* 文字サイズの1.2倍 */
  text-shadow: 2px 2px 3px red; /* 影を付ける */
  border-bottom: solid 3px rgb(115, 115, 114); /* 下線 */
}

.blue {
  color: skyblue; /* スカイブルー */
}

.pink {
  color: rgb(255, 192, 203); /* ピンク */
}

#basic p {
  font-weight: bold;
}