body{
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}
.blue{
  color: skyblue;
}
.pink{
  color: rgb(255, 192, 203) ;
}
h1{
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing:1.2em;
  text-shadow:2px 2px 3px red;

  border-bottom:solid 3px rgb(115, 115, 114);
}

#basic p{
  font-weight:bold;
}